#container{
    display:grid;
    width: 350px;
    margin:auto;
    background-color: #61429d;
    padding: 10px;
    grid-gap: 5px;
    grid-template-areas:
    'space7 space8 space9'
    'space4 space5 space6'
    'space1 space2 space3'
}

.square{
    background-color: #fff;
    height: 100px;
    width: 113px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.square:active {
    background-color: rgb(228, 228, 228);
}

#space-1{
    grid-area: space1;
}

#space-2{
    grid-area: space2;
}

#space-3{
    grid-area: space3;
}

#space-4{
    grid-area: space4;
}

#space-5{
    grid-area: space5;
}

#space-6{
    grid-area: space6;
}

#space-7{
    grid-area: space7;
}

#space-8{
    grid-area: space8;
}

#space-9{
    grid-area: space9;
}

#rules{
    text-align: center;
    border: solid rgb(130, 236, 130) 5px;
    background-color: rgb(160, 255, 160);
    height: 20px;
    width: 100px;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    position:inherit;
}

#rulesBox{
    background-color:  rgb(207, 252, 207);
    height: 200px;
    text-align: center;
    font-size: 0px;
    line-height: 50px;
    width: 0px;
    transition: 2s
}

#rules:hover + #rulesBox{
    font-size: 16px;
    width: 400px;
}

#result{
    position: relative;
    margin: -100px auto;
    text-align: center;
}

#play{
    margin: -210px auto ;
    text-align: center;
    border: solid #422d6d 5px;
    background-color: #61429d;
    color: #fff;
    height: 70px;
    width: 120px;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    top: absolute;
    bottom: absolute;
}